.container-contact-us{
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.bg-contact-page{
    background: #000;
}
.contact-heading-hero{
    margin-top: 7rem;
}
.card-border{
    border: 2px solid var(--primary-color);
    transition: 0.6s ease-in-out;
}
.card-border:hover{
    background: var(--primary-color);
}

.heading-contact-page{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
}
.para-contact-page{
 font-size: 20px;
 width: 40rem;
}
.email-contact-page{
    color: white;
}
.span-email{
    color: var(--primary-color);
}
.linked-in-contactpage{
    color: white;
}
.span-linkedin{
    color: var(--primary-color);
}

@media screen and (max-width:768px) {
    .para-contact-page{
        width: 25rem;
        transition: 0.5s ease-in-out;
    }
    .para-contact-page{
        font-size: 15px;
        width: 19rem;
       }
}

