.bg-career-letsexplore{
    background: #000;
}
.img-career{
    background-image: url("https://imageio.forbes.com/blogs-images/alejandrocremades/files/2018/07/desk-3139127_1920-1200x773.jpg?format=jpg&width=960");
    height: 35vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}