.bg-benefits-sections{
    background: #000;
    padding-top: 5rem;
}

.card-bg-benefits{
    background:transparent;
    border: 2px solid var(--primary-color);
    
}
.card-para-benefits{
    font-size: 14px;
    text-align: center;
}
.cards-benefits-career{
    padding-top: 5rem;
    padding-bottom: 5rem;
}