

.section {
	display: grid;
	place-items: center;
    background: linear-gradient(177deg, rgb(0, 0, 0) 40%, rgb(10, 83, 83) 100%);

}
.row{
    padding-top: 0;
}
.section-header{
    position: relative;
     margin-top: 50px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
  
    color: #fff;
}

.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}

.single-item{
  
    color: #ffffff;
    padding: 15px;
    margin: 50px 15px;
}
.carousel-control-next,.carousel-control-prev{
    width: 40px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
	margin: 0 15px 15px 15px;
}
.img-area img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 7px solid var(--primary-color);
}
.content{
    font-size: 18px;
}
.content p {
	text-align: justify;
}
.content p span {
	font-size: 48px;
	margin-right: 20px;
    color: var(--primary-color);
}
.socials i {
	margin-right: 25px;
}
.bio h4 {
	font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: var(--primary-color);
}
