@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

.header {
  width: 100%;
  height: 90px;
  padding: 0 1.5rem;
  @include breakpoint(md) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: #fff;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    margin-top: 0.2rem;


    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(rgba(105, 102, 102, 0.153), 0.9);
      // backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;

      @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem + #{16px});
        }
        li {
          &:not(:last-child) {
            margin-bottom: 32px;
            @include breakpoint(md) {
              margin-bottom: 0;
              margin-right: 16px;
            }
          }
   
        }
      }
 

      &.isMenu {
        transform: translate(100%);
        color: black;
      }
    }

    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      color:var(--primary-color);

      &:hover {
        color: var(--primary-color);
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}

// custom css
.navbar-scrolled {
  background-color: rgb(255, 255, 255);
  
  transition: 0.5s ease;
}

.navbar-a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  transition: 0.3s ease all;
  border-radius: 12px;
}
.navbar-a:hover {
  background: rgba(#ffffff, 0.1);
}
.navbar-a-scrolled {
  color: #000000;
}
.navbar-a-scrolled:hover {
  background: rgba(#000000, 0.1);
}
.btn-header-letstalk{
  color: white;
  border: 2px solid white;
  font-weight: bold;
  background: transparent;
  padding: 9px 25px;
  text-transform: uppercase;
  border-radius:10px ;
  transition: 0.6s ease-in-out;
}
.btn-header-letstalk:hover{
background: white;
color: black;
font-weight: bold;
}
.scrolled-header-btn{
  border:2px solid var(--primary-color);
  color: var(--primary-color);
  transition:0.6s ease-in-out;
  font-weight:bold ;
}
.scrolled-header-btn:hover{
background: var(--primary-color);
color: white;
font-weight: bold;
}
@media (min-width: 190px) and (max-width: 517px) {
  .logo {
    width: 5rem;
  }
}

